
<div class="container">
  <h1>ISS Tracker</h1>

  <!-- our Map goes here -->
  <div id="map-div"
  </div>

  <div id="details">
    <div>
      Time:
      <span class="time"></span>
    </div>
     <div>
      Latitude:
      <span class="latitude"></span>
    </div>
     <div>
      Longitude:
      <span class="longitude"></span>
    </div>
     <div>
      Speed:
      <span class="speed"></span>
    </div>
     <div>
      Altitude:
      <span class="altitude"></span>
    </div>
     <div>
      Visibility:
      <span class="visibility"></span>
    </div>
  </div>
</div>
